<div id="{{ id }}"></div>
{{ layer_html|join:"" }}
<script type="text/javascript">
    map = new olwidget.Map("{{ id }}", [
            {{ layer_js|join:"," }}
        ], 
        {{ map_opts|safe }}
    );
    olwidget.gt_maps = olwidget.gt_maps || {}
    olwidget.gt_maps["{{ id }}"] = map;

    olwidget.gt_features = olwidget.gt_features || {}
    for ( layer in map.layers ) {
        if (map.layers[layer].features != undefined){
            for (var f in map.layers[layer].features){
                olwidget.gt_features[map.layers[layer].features[f].attributes.style.gtIdentifier] = map.layers[layer].features[f]
            }
        }
    }

</script>
