{% block map_container %}
    <div id="map-canvas-{{ map_id }}"
            style="width: {{ width }}px; height: {{ height }}px;"
         class="geotagging-map-googlemap">
    </div>
{% endblock %}

{% block map_js %}
    <!-- Map creation script -->
    <script type="text/javascript">
        function initialize_map_{{ map_id }}() {
            var latlng = new google.maps.LatLng({{ latlng }});
            var mapElem = document.getElementById("map-canvas-{{ map_id }}");

            {% block map_options_js %}
            var mapOptions = {
                zoom: {{ zoom }},
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            {% endblock %}

            var map = new google.maps.Map(mapElem, mapOptions);

            {% block extra_map_js %}
            var markers = [];
            {% comment %}
              var latLng = new google.maps.LatLng({{ marker.latlng }});
              var marker = new google.maps.Marker({
                    'position': latLng,
                    'title': "{% if marker.object %}{{ marker.object.get_title }}{% endif %}"});
              markers.push(marker);
            {% endcomment %}
            for (i in {{ markers|safe }}) {
                var latLng = new google.maps.LatLng(i.latlng);
                var marker = new google.maps.Marker({
                    'position': latLng,
                    'title': marker.title || "Marker");
                markers.push(marker);
            }
            if (window.MarkerClusterer === undefined){
               for (i in markers) {
                  markers[i].setMap(map);
               }
            } else {
                var markerCluster = new MarkerClusterer(map, markers);
            }
            {% endblock %}
        }

        {% block map_loading_js %}
        // initialize the map after page loading
        google.maps.event.addDomListener(window, 'load', initialize_map_{{ map_id }});
        {% endblock %}
    </script>
{% endblock %}
