{% if options.simple %}
<div id="geotagging_{{ map_id }}">
  <div id="placeholder-geotagging_{{ map_id }}" style="height:{{options.height}}px; width:{{options.width}}px"></div>
</div>
{% endif %}

    <script type="text/javascript">
        var map = new $$.Map({
        id: "{% if options.simple %}geotagging_{% endif %}{{ map_id }}",
            static: {% if options.static %}true{% else %}false{% endif %},
        })
        $$.maps.add(map);

        {% for layer in layers %}
        map.collection.add(new $$.Layer({
            title: "{{ layer.name }}",
            id: "{{ layer.name }}",
            collection: new $$.SpotCollection([
               {% for spot in layer.items %}
               {
                    id: "{% if spot.object %}{{ spot.object.pk }}{% else %}{{ forloop.counter }}{% endif %}",
                    lng: {{ spot.point.x }},
                    lat: {{ spot.point.y }},
                    style: {{ spot.style|safe }},
                    title: "{{ spot.display }}",
                }, 
               {% endfor %}
            ])
        }));
        {% endfor %}
        {% if options.center_on %}
        map.view.center("{{ options.center_on }}");
        {% else %}
        map.view.center();
        {% endif %}
    </script>
